*.pyc
venv*/
.dobi/
gen/

# sqlite
**/*.db

.*.env

# devspace ignores
.devspace

# node
node_modules
package-lock.json
*.backup
# package.json is required for node red to install required modules
.npm

# ignore bin folder for go binaries
bin

# ignore credentials file
*.creds